{% load static %}

<nav class="navbar navbar-expand-lg bg-body-secondary">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="{% url 'home' %}">Tech-Stuff</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto">
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>

      <div class="nav-item">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
          <img class="dropdown-toggle rounded-circle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
          height="40" width="40" src={{request.user.profile.user_profile.url}}/>
          
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
           
            <li><a class="dropdown-item" aria-current="page" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>

        
        {% else %}
        <a class="btn btn-outline-success" aria-current="page" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>